################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Wpf/v15
/Wpf/bin
/Wpf/obj
/.vs
